<template>
     <div class="card">        
        <div class="card-header">
            Edit Customer
        </div>
        <div class="card-body">
             <form>
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                    <div class="col-md-6">
                        <input id="name"  v-validate="{ required: true}" type="text" name="name" class="form-control" v-model="name"> 
                        <span class="text-danger" v-show="errors.has('name')">{{ errors.first('name') }}</span>
                        
                     </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label text-md-right">NIC</label>
                    <div class="col-md-6">
                        <input id="nic" name="nic" v-validate="{ required: true,  regex: /^[0-9]{9}[vVxX]$/ }" type="text" class="form-control" v-model="nic">  
                        <span class="text-danger" v-show="errors.has('nic')">{{ errors.first('nic') }}</span>
                        
                     </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label text-md-right">Address</label>
                    <div class="col-md-6">
                        <input id="address"  v-validate="{ required: true}" type="text" class="form-control" v-model="address" name="address">  
                         <span class="text-danger" v-show="errors.has('address')">{{ errors.first('address') }}</span>
                     </div>
                </div>

                <div class="form-group row" v-for="contact, index in contacts">
                    <label for="name" class="col-md-4 col-form-label text-md-right">
                        Telephone {{ index +1 }}
                    </label>

                    <div class="col-md-6">
                        <input id="telephone"
                         v-validate="{ required: true,  regex: /^[0-9]{10}$/ }" 
                         type="text" class="form-control" v-model="contact.telephone"
                        :name="'telephone' + index" 
                        > 
                        <span class="text-danger" v-show="errors.has('telephone'+index)">{{ errors.first('telephone'+index) }}</span>
                     </div>
                     <div class="col-md-1" v-if="index > 0">
                        <a  v-on:click="RemoveContact(index)" class="btn btn-danger"> 
                        - 
                        </a>  
                     </div>

                     <div class="col-md-1" v-if="index == contacts.length - 1">
                        <a  v-on:click="addNewContact" class="btn btn-primary">
                             + 
                        </a>     
                     </div>

                 </div>   
                
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label text-md-right"></label>
                    <div class="col-md-6">
                        <a href ="/" class="btn btn-default">Cancel</a>
                        <button type="submit" :disabled="errors.any() || !isDisabled" class="btn btn-success"  v-on:click.prevent="updateCustomer">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return { 
                name:null,
                nic:null,
                address:null,
                contacts: [
                 { telephone:null}
                ],
            }
        },

        mounted() {            
             var app = this;                                   
                axios.get('/api/customer/'+ this.$route.params.id)
                .then(function (resp) {
                    app.customers = resp.data;                     
                    if(app.customers.length > 0){
                      app.name = app.customers[0].name;
                      app.nic = app.customers[0].nic;
                      app.address = app.customers[0].address.address;
                      app.contacts = app.customers[0].contact;
                    }
                    console.log(app.customers[0].name);
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not found customer");
                });
        },

        computed: {
          isDisabled () {
            return this.name && this.nic && this.address && this.contacts;
          }
        },
        
        methods: {
            addNewContact(){
               this.contacts.push({
                    telephone:null,
               });
            },

            RemoveContact(index){
               this.contacts.splice(index, 1);
            }, 
            updateCustomer(){
              var app = this;                           
                axios.put('/api/customer/edit/' + this.$route.params.id,{                 
                    name:app.name,
                    nic:app.nic,
                    address:app.address,
                    contacts:app.contacts
                }).then(function (response) {
                  if(response.data == 1){
                    location.href = '/';
                  }else{
                    alert(response);
                  }
                }) .catch(function (error) {
                    console.log(error);
                });               
            }

        }
    }

</script>
