<template>
    <div class="card">        
        <div class="card-header">
            <div class="row">
                <span class="col-md-10">
               Customers 
        </span>        
        <span class="col-md-2 pull-right">
            <router-link :to="{name: 'createCustomer'}" class="btn btn-success">
                Create new customer
            </router-link>
        </span>
            </div>
        
      </div>
        <div class="card-body"> 
            <div class="form-group">
                <input type="text" 
                 v-model="searchText" 
                 v-on:keyup="filterCustomers"
                class="form-control" placeholder="Search by name/ nic /address or telephone ">
            </div>
                
            
            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>NIC</td>
                    <td>Address</td>
                    <td>Contacts</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="customer, index in customers">
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.nic }}</td>
                    <td>{{ customer.address.address }}</td>
                    <td>
                        <ul>
                            <li v-for="contact, index in customer.contact">
                                {{ contact.telephone}}
                            </li>
                        
                        </ul>
                    </td>
                    <td>
                        <router-link :to="{name: 'editCustomer', params: {id: customer.id}}" class="btn btn-xs btn-primary">     
                        Edit                           
                        </router-link>
                        <a href="#"  class="btn btn-xs btn-danger" v-on:click="deleteEntry(customer.id, index)">
                                Delete
                        </a>
                    </td>
                </tr>
            </tbody>             
         </table>                    
                  
        </div>
    </div>
     
</template>

<script>
    export default {
        data: function () {
            return {
                customers: [],
                searchText:'',
            }
        },
        mounted() {            
            this.getData(this.searchText);
        },
        methods: {
            getData(searchText){ 
                var app = this;                           
                axios.get('/api/customers?searchText='+ searchText)
                .then(function (resp) {
                    app.customers = resp.data; 
                    //console.log(app.customers);
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load customers");
                });

            },
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/customer/delete/' + id)
                        .then(function (resp) {
                          if(resp.data == 1){
                              app.customers.splice(index, 1);
                              alert("Customer has been deleted!");  
                          }else{
                            alert("Could not delete customer");
                          }
                            
                        })
                        .catch(function (resp) {
                            alert("Could not delete customer");
                        });
                }
            },

            filterCustomers(){
                 this.getData(this.searchText);                
            }


        }
    }
</script>
